.about-us {
  display: grid;
  grid-template-columns: $mobile-column-template;
  padding-inline: $mobile-inline-padding;
  column-gap: $column-gap-mobile;
  align-items: start;
  margin-bottom: 104px;

  @include at-tablet {
    grid-template-columns: $tablet-column-template;
    column-gap: $column-gap-tablet;
    padding-inline: $tablet-inline-padding;
  }

  @include at-computer {
    grid-template-columns: $computer-column-template;
    column-gap: $column-gap-computer;
    padding-inline: $computer-inline-padding;
  }

  &__title {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 24px;

    @include content-title-font;

    font-size: 32px;

    @include at-tablet {
      grid-column: span 3;
      font-size: 40px;
    }

    @include at-computer {
      grid-column: span 6;
      font-size: 48px;
    }
  }

  &__paragraphs {
    grid-column: 1 / -1;

    @include content-text-font;

    @include at-tablet {
      grid-column: span 3;
    }

    @include at-computer {
      grid-column: span 6;
    }

    & p {
      margin: 0;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
