.page {
  min-width: $mobile-min-width;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 140%;
  font-size: 16px;
  color: $main-text-color;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &:target {
      opacity: 1;
      pointer-events: all;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .title {
    font-size: $mobile-section-title-font-size;
    line-height: $default-section-title-line-height;
    font-weight: $default-section-title-font-weight;

    @include on-tablet-section-title-font;
    @include on-computer-section-title-font;
  }

  .brand__image {
    width: 100%;
    height: $mobile-brand-image-height;
    background-image: url(../images/brand-image-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 48px;

    @include at-tablet {
      height: $tablet-brand-image-height;
      background-image: url(../images/brand-image-tablet.png);
      margin-bottom: 56px;
    }

    @include at-computer {
      height: $computer-brand-image-height;
      background-image: url(../images/brand-image-computer.png);
      margin-bottom: 56px;
    }
  }
}
