.recomended {
  padding: $mobile-recommended-cards-paddings;

  @include on-tablet-recommended-paddings;
  @include on-computer-recommended-paddings;

  &__title {
    margin-bottom: $mobile-default-section-title-mb;

    @include on-tablet-section-title-margin-bottom;
    @include on-computer-section-title-margin-bottom;
  }

  &__cards {
    display: grid;
    gap: $grid-gap-mobile;
    grid-template-columns: $mobile-column-template;
    width: 100%;
    margin: 0;

    @include at-tablet {
      grid-template-columns: $tablet-column-template;
      gap: $grid-gap-tablet;
    }

    @include at-computer {
      grid-template-columns: $computer-column-template;
      gap: $grid-gap-computer;
    }
  }

  .card__phone,
  .card__ear-2,
  .card__ear {
    display: grid;
    grid-column: $grid-columns-mobile;
    place-items: start start;

    @include at-computer {
      grid-column: $grid-columns-computer;
    }
  }

  .card__phone-img,
  .card__ear-2-img,
  .card__ear-img {
    height: $card-img-height-mobile;
    width: $card-img-width-mobile;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 24px;

    @include on-tablet-cards-image-size;
    @include on-computer-cards-image-size;
  }

  .card__phone-img {
    background-image: url(../images/phone-mobile.png);

    @include at-tablet {
      background-image: url(../images/phone-tablet.png);
    }

    @include at-computer {
      background-image: url(../images/phone-computer.png);
    }
  }

  .card__ear-2-img {
    background-image: url(../images/ear-2-mobile.png);

    @include at-tablet {
      background-image: url(../images/ear-2-tablet.png);
    }

    @include at-computer {
      background-image: url(../images/ear-2-computer.png);
    }
  }

  .card__ear-img {
    background-image: url(../images/ear-mobile.png);

    @include at-tablet {
      background-image: url(../images/ear-tablet.png);
    }

    @include at-computer {
      background-image: url(../images/ear-computer.png);
    }
  }

  .card__phone-title,
  .card__ear-2-title,
  .card__ear-title {
    margin: 0;
    margin-bottom: 8px;

    @include content-title-font;
  }

  .card__phone-text,
  .card__ear-2-text,
  .card__ear-text {
    margin-bottom: 12px;

    @include content-text-font;
  }

  .card__phone-price,
  .card__ear-2-price,
  .card__ear-price {
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
  }
}
