@mixin at-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin at-computer {
  @media (min-width: $breakpoint-computer) {
    @content;
  }
}

@mixin content-text-font {
  font-family: 'Space Mono', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@mixin content-title-font {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

// -- Shared across header.scss and menu.scss -- //
@mixin on-tablet-header-height {
  @include at-tablet {
    height: $header-height-tablet;
  }
}

@mixin on-computer-header-height {
  @include at-computer {
    height: $header-height-computer;
  }
}

@mixin on-tablet-icon-sizing {
  @include at-tablet {
    height: $tablet-icon-height;
    width: $tablet-icon-width;
  }
}

@mixin on-computer-icon-sizing {
  @include at-computer {
    height: $computer-icon-height;
    width: $computer-icon-width;
  }
}

// -- Recommended cards section -- //

@mixin on-tablet-recommended-paddings {
  @include at-tablet {
    padding: $tablet-recommended-cards-paddings;
  }
}

@mixin on-computer-recommended-paddings {
  @include at-computer {
    padding: $computer-recommended-cards-paddings;
  }
}

@mixin on-tablet-cards-image-size {
  @include at-tablet {
    height: $card-img-height-tablet;
    width: $card-img-width-tablet;
  }
}

@mixin on-computer-cards-image-size {
  @include at-computer {
    height: $card-img-height-computer;
    width: $card-img-width-computer;
  }
}

@mixin on-tablet-section-title-font {
  @include at-tablet {
    font-size: $tablet-section-title-font-size;
  }
}

@mixin on-tablet-section-title-margin-bottom {
  @include at-tablet {
    margin-bottom: $tablet-default-section-title-mb;
  }
}

@mixin on-computer-section-title-font {
  @include at-computer {
    font-size: $computer-section-title-font-size;
  }
}

@mixin on-computer-section-title-margin-bottom {
  @include at-computer {
    margin-bottom: $computer-default-section-title-mb;
  }
}

@mixin on-tablet-store-section-grid {
  @include at-tablet {
    grid-template-columns: $tablet-column-template;
    column-gap: $column-gap-tablet;
  }
}

@mixin on-tablet-product-image-1-grid {
  @include at-tablet {
    grid-column: span 4;
  }
}

@mixin on-tablet-product-image-2-grid {
  @include at-tablet {
    grid-column: span 2;
  }
}

@mixin on-computer-store-section-grid {
  @include at-computer {
    grid-template-columns: $computer-column-template;
    column-gap: $column-gap-computer;
  }
}

@mixin on-computer-product-image-1-grid {
  @include at-computer {
    grid-column: span 8;
  }
}

@mixin on-computer-product-image-2-grid {
  @include at-computer {
    grid-column: span 4;
  }
}
