@use 'sass:string';

$main-text-color: #292929;
$main-buttons-color: #292929;
$main-buttons-hover-color: #f8f8fa;
$default-buttons-text-color: #fff;
$form-field-bg-color: #f8f8fa;
$main-buttons-hover-border: 2px solid #f0f1f4;
$contact-label-color: #9393a3;

// -- Screen min-widths breakpoints -- //
$header-height-mobile: 568px;
$header-height-tablet: 993px;
$header-height-computer: 720px;
$breakpoint-tablet: 744px;
$breakpoint-computer: 1260px;
$default-section-title-font-weight: 700;
$default-section-title-line-height: 100%;

// -- Mobile screen (min-width: 320px) settings -- //
$mobile-default-section-title-mb: 48px;
$mobile-section-title-font-size: 32px;
$mobile-min-width: 320px;
$grid-gap-mobile: 40px 20px;
$column-gap-mobile: 20px;
$row-gap-mobile: 24px;
$grid-column-width: 130px;
$mobile-store-image-height: 130px;
$mobile-column-template: repeat(2, minmax($grid-column-width, 1fr));
$grid-columns-mobile: string.unquote('1 / -1');
$card-img-height-mobile: 280px;
$card-img-width-mobile: 280px;
$mobile-inline-padding: 20px;
$mobile-default-padding: 24px 0 40px;
$mobile-icon-height: 24px;
$mobile-icon-width: 24px;
$mobile-recommended-cards-paddings: 64px 20px 96px;
$mobile-brand-image-height: 200px;

// -- Tablet screen (min-width: 744px) settings -- //
$tablet-section-title-font-size: 40px;
$tablet-default-section-title-mb: 56px;
$grid-gap-tablet: 56px 24px;
$column-gap-tablet: 24px;
$tablet-column-template: repeat(6, minmax(80px, 1fr));
$tablet-store-image-height: 184px;
$tablet-inline-padding: 72px;
$tablet-default-padding: 36px 0 65px;
$tablet-icon-height: 32px;
$tablet-icon-width: 32px;
$tablet-recommended-cards-paddings: 120px 72px;
$card-img-height-tablet: 600px;
$card-img-width-tablet: 600px;
$tablet-brand-image-height: 400px;

// -- Computer screen (min-width: 1260px) settings -- //
$computer-section-title-font-size: 48px;
$computer-default-section-title-mb: 56px;
$grid-gap-computer: 56px 24px;
$column-gap-computer: 24px;
$computer-column-template: repeat(12, minmax(63px, 1fr));
$computer-store-image-height: 324px;
$computer-inline-padding: 120px;
$computer-default-padding: 56px 0 128px;
$computer-icon-height: 32px;
$computer-icon-width: 32px;
$grid-columns-computer: span 4;
$computer-recommended-cards-paddings: 120px 120px 128px;
$card-img-height-computer: 324px;
$card-img-width-computer: 324px;
$computer-brand-image-height: 460px;
